.nav {
  position: absolute;
  color: white;
  padding: 0.5em;
  display: flex;
  align-items: center;
  img {
    width: 3em;
    height: 3em;
    margin-right: 1em;
  }
  h1 {
    font-size: 1rem;
    font-weight: 600;
  }
}
